html {
    height: 100%;
}
body {
    height: 100%;  
    margin: 0px;
}
.screen {
    width: 100%;
    height: auto; 
    display: flex;
}
.screenContainer {
    width: 100%;
    height: 100%;
}
.display {
    width: 100%;
    height: 86%; 
}
.bar {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 7%; 
}
.bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
}