.webLink {
    color: rgb(205, 252, 255);
    font-size: 150%;
    font-weight: bold;
}
.startingText {
    color: rgb(26, 216, 230);
    font-size: 600%;
    font-weight: bolder;
}
.startingMenu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 60%;
}
.startingButton {
    transition-duration: 1s;
    width: 40%;
    height: 20%;
    background-color: rgb(14, 14, 202);
    color: rgb(196, 244, 250);
    font-size: 400%;
    font-weight: bold;
}
.startingButton:hover {
    width: 41%;
    height: 21%;
    background-color: rgb(0, 0, 141);
    color: rgb(168, 209, 214);
    font-size: 500%;
    font-weight: bold;
}